body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000000;
    color: white;
    font-family: 'Helvetica', sans-serif;
}

#clock {
    text-align: center;
}

#day, #date, #time {
    margin: 10px 0;
}

#day {
    font-size: 10em;
}

#date {
    font-size: 10em;
}

#time {
    font-size: 20em;
}
